[submodule "pure"]
	path = pure
	url = git@github.com:sindresorhus/pure.git
[submodule "base16-vim"]
	path = base16-vim
	url = git@github.com:will118/base16-vim.git
[submodule "zsh-history-substring-search"]
	path = zsh-history-substring-search
	url = git@github.com:zsh-users/zsh-history-substring-search.git
[submodule "FiraCode"]
	path = FiraCode
	url = git@github.com:tonsky/FiraCode.git
